#aeroplugin {
    .app-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
    }
} 



.link {
    &:active {
        border: none;
        outline: 0;
        box-shadow: none;

    }
    &:focus {
        border: none;
        outline: 0;
        box-shadow: none;

    }
}

#trash:hover svg {
    stroke: #C22525;
  }

#settings:hover svg {
    stroke: #633CE3;
}

#refresh:hover svg {
    stroke: #633CE3;
}
  
@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
    }

.refresh-start {
animation-name: rotate;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-play-state: running;  
}